macros {
    ZMK_MACRO(usb_conn,
        wait-ms = <1>;
        tap-ms = <1>;
        bindings = <&out OUT_USB &adv_mode ADV_OFF>;
    )
    ZMK_MACRO(ble_zero,
        wait-ms = <1>;
        tap-ms = <1>;
        bindings = <&out OUT_BLE &bt BT_SEL 0 &adv_mode ADV_ON>;
    )
    ZMK_MACRO(ble_one,
        wait-ms = <1>;
        tap-ms = <1>;
        bindings = <&out OUT_BLE &bt BT_SEL 1 &adv_mode ADV_ON>;
    )
    ZMK_MACRO(bt_clear,
        wait-ms = <1>;
        tap-ms = <1>;
        bindings = <&bt BT_CLR>;
    )
    #include "version.dtsi"
};

endpoint_sideband_behaviors {
    auto-enable;
    compatible = "zmk,kscan-sideband-behaviors";
    kscan = <&kscan_sp3t_toggle>;

    first_toggle_sideband: first_toggle_sideband {
        column = <0>;
        bindings = <&usb_conn>;
    };

    second_toggle_sideband: second_toggle_sideband {
        column = <1>;
        bindings = <&ble_zero>;
    };

    third_toggle_sideband: third_toggle_sideband {
        column = <2>;
        bindings = <&ble_one>;
    };
};

behaviors {
    bth: bt_hold {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <2000>;
        bindings = <&bt_clear>, <&none>;
        display-name = "BT-hold-clear";
    };

    /* Left-hand home-row mods (S/D): trigger hold only when a RIGHT-side key is involved */
    lhm: left_hand_mod {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;

        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <120>;

        hold-trigger-on-release;

        /* RIGHT side: Y.., home row H..Enter..PgUp, bottom row N..PgDn, right thumb/arrow cluster, plus Backspace */
        hold-trigger-key-positions = <
            24 25 26 27 28 29 30        /* N7 N8 N9 N0 - = BSPC */
            37 38 39 40 41 42 43 44 45  /* Y U I O P [ ] \ DEL */
            52 53 54 55 56 57 58 59     /* H J K L ; ' ENTER PGUP */
            66 67 68 69 70 71 72 73     /* N M , . / RSHFT UP PGDN */
            78 79 80 81                 /* right space + RGUI RALT RCTRL */
            82 83 84                    /* arrows */
        >;

        bindings = <&kp &kp>;
        display-name = "Left hand home row mod";
    };

    /* Right-hand home-row mods (K/L): trigger hold only when a LEFT-side key is involved */
    rhm: right_hand_mod {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;

        flavor = "tap-preferred";
        tapping-term-ms = <200>;
        quick-tap-ms = <175>;
        require-prior-idle-ms = <120>;

        hold-trigger-on-release;

        /* LEFT side: `..6, Tab/Q..T, Caps/A..G, LShift/Z..B, left thumb cluster */
        hold-trigger-key-positions = <
            17 18 19 20 21 22 23        /* ` 1 2 3 4 5 6 */
            31 32 33 34 35 36           /* TAB Q W E R T */
            46 47 48 49 50 51           /* CLCK A S D F G */
            60 61 62 63 64 65           /* LSHFT Z X C V B */
            74 75 76 77                 /* LCTRL LALT LGUI left SPACE */
        >;

        bindings = <&kp &kp>;
        display-name = "Right hand home row mod";
    };
};